*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
:root{
    --brand-1: #4263eb;
    --brand-2: #364fc7;

    --grey0: #0a0c0d;
    --grey1: #212529;
    --grey2: #495057;
    --grey3: #868e96;
    --grey4: #dee2e6;
    --grey5: #f8f9fa;
    --grey-opacity-1: rgba(33,37,41,0.5);
    --whiteFixed: #ffffff;

    --like: #d7443e;
}

main{
    display: flex;
    flex-direction: column;
}

/* 
PRIMEIRA PROFILE - SAMUEL LEÃO*/
.profile {
    margin: 5%;
    display: flex;
    margin-top: 110px;
    gap: 15px;
    width: 250px;
    height: 150px;

}


img {
    height: 60px;
}

.description-user__div{
    color: var(--grey2);
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    padding-top: 10px;
}


/* INPUT CRIAR POST */

.createPost > form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -60px;
  
}

.createPost form > input {
    width: 320px;
    border: 2px solid var(--grey4);
    border-radius: 4px;
    outline: none;
    padding: 10px;
     
}

.createPost form > textarea {
   padding: 10px;
    width: 320px;
    height: 100px;
    border: 2px solid var(--grey4);
    border-radius: 4px;
    outline: none;
}
 .postButton {
    color: var(--grey3);
    border: none;
    border-radius: 4px;
    height: 36px;
    width: 60px;
    background-color: var(--grey4);

}

.postButton:active{
    background-color: var(--brand-1);
    color: var(--whiteFixed);
    border: 2px solid var(--brand-1);
}


.createPost > form > textarea:focus, .createPost form > input:focus{
    border: 2px solid var(--brand-1);

}

.createPost > form > textarea:valid{
}


/* SUGESTOES PARA SEGUIR */

.lista-sugest{
    position: relative;
    margin: 10px;
    margin-left: 15px;
    display: flex;
    gap: 20px;
    padding: 20px;
    height: 80px;
    min-width: 200px;
  
}

.titleSugest{
    margin-left: 15px;
    font-size: 20px;
    padding: 15px;
    margin-bottom: 20px;
}

.nomeUsuario{
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.ul-sugest{
   
    z-index: 0;
    flex-direction: row;
    display: flex;
    overflow-x: auto;
    margin: 10px;
    margin-left: 15px;
    width: 100%;
    gap: 2px;
  
}



.stackUsuario{
 font-weight: lighter;
 flex-direction: column;
 font-size: 14px;
 line-height: 16px;
}

.btn-card{
    z-index: 0;
    position: absolute;
    bottom: 0;
   width: 80px;
   background-color: transparent;
   border: 2px solid var(--grey0);
   color: var(--grey0);
   font-weight: 600;
   font-size: 14px;
   border-radius: 2px;
   padding: 2px;
}

.btn-card:hover{
background-color: #EDF2FF;
color:  var(--brand-1) ;
border: 2px solid  var(--brand-1);
}

.btn-card:focus{
    background-color: var(--brand-1);
    color: var(--whiteFixed);
    border: 2px solid var(--brand-1);
}

.icon-favorito:active{
    background-color: var(--like);

}




@media(min-width: 481px){

    .sugestSec{
        position: sticky;
        right: 20px;
        top: 100px; 
        position: fixed;
    }

    .btn-card{
        
    }

    .ul-sugest{
        flex-direction: column;
    }
    
    .createPost form > input{
        width: 49%;
    }

    .createPost form > textarea{
        width: 49%;
    }

    .postButton {
        display: flex;
        margin-left: 47%;
        margin-top: 10px;
    }

    .postSection{
        padding: 1%;
        
    }

 
}