.modal__container{
    margin: 0 auto;
    width: 95%;
    height: 65%;
    margin-top: 25%;
    border-radius: 8px;
    justify-content: center;
    border: none;

}

.div__modal{
  
}

.modal__title{
 padding: 4%;
 color: var(--grey1);
 text-align: center;

}

.modal__btn{
    border: none;
    position: absolute;
    background-color: transparent;
    bottom: 95%;
    right: 1%;
}

.modal__description{
    padding: 6%;
    color:var(--grey2);
    line-height: 30px;

}
.modal__container::backdrop {
  background-color: rgba(33, 37, 41, 0.5);
}


@media(min-width: 700px){

    .modal__container{
     
      width: 65%;
      margin-top: 3%;
    }
    
    .div__modal{
    }
    
    .modal__title{
        padding: 5%;
 
    }
    
    .modal__btn{
        bottom: 92%; 
    }
    
    .modal__description{
        padding: 5%;
       line-height: 35px;
       

    }
    .modal__container::backdrop {
    
    }
}
