.modal__container{
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    border: none;
    border-radius: 10px;
}

.div__modal{
    padding: 30px;
  margin-top: 10%;
}

.modal__title{
 margin-top: 6%;
}

.modal__btn{

}

.modal__description{
    margin-top: 10%;
    line-height: 30px;

}
.modal__container::backdrop {
  background-color: rgba(33, 37, 41, 0.5);
}
